

<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Name</p>
          <p class="title is-5">BENJAMIN P FALLAR III</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Currently</p>
          <p class="title is-5">Full Stack Senior Engineer at<br/> Manulife IT Delivery Center</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Location</p>
          <p class="title is-5">Manila, Philippines</p>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-1">PRAGMATIC DEVELOPER</h1>
    <img src="assets/images/portfolio-header.jpg" alt="Benjsoft" />

    <div class="box">
      <div class="subtitle is-4">
        PROVIDES ENTERPRISE SYSTEM AND BUSINESS APPS<br />
        DEVELOPMENT SERVICES FROM DESIGN, CODING, <br />
        TESTING AND DEPLOYMENT FOR BOTH ON-PREMISE <br>
        AND CLOUD COMPUTING.
      </div>
    </div>

    <div class="card">
      <header class="card-header">
        <p id="about" class="card-header-title">About Me</p>
      </header>
      <div class="card-content">
        I'm a pragmatic developer with years of experience in software development.
        I have a passion for developing and solving problems. I'm a self-taught
        programmer with a background in design and a passion for lastest desktop
        and web technologies for both cloud computing and on-premise deployments.
        <br /><br />
        I've collaborated with individuals for SMEs and larger enterprises including
        MITDC, NTT Data, and government agencies.
        <br /><br />
        Each project is an opportunity to learn new concepts across multiple domain
        including insurance, government and IT.
        <br /><br />
        I also have professional certifications in Microsoft development and server
        technologies. I have been a Microsoft Certified Trainer since 2001 and delivering
        Microsoft Official Curriculum to clients in the Philippines and abroad.
      </div>
    </div>

    <div class="card">
      <header class="card-header">
        <p class="card-header-title">What Can I Do?</p>
      </header>
      <div class="card-content">
        Microsoft .NET Core, C#, Java, Spring Boot Framework, ORM,
        Microsoft Power Platform, Microsoft Dynamics 365 CRM CE,
        Azure Computing Services
      </div>
    </div>

    <div id="works" class="card">
      <header class="card-header">
        <p class="card-header-title">My Works</p>
      </header>
      <div class="card-content content">
        <ul>
          <li>Manulife ITDC Projects using Microservices architecture (Java, Springboot)</li>
          <li>Automation on Server Provisioning, Decommissioning and Auto-Patching (.NET)</li>
          <li>Canon Opto Helpdesk (.NET, MVC)</li>
          <li>Accenture CIO Projects includes myScheduling, REBAR NEXT, BPS/MMI, EERES Automation</li>
          <li>Avanade Projects include UNISON (CRM), SandVik, ACA Accelerate</li>
          <li>MS Dynamics CRM Custom Development for Case Management for Manila Water</li>
          <li>MS Dynamics CRM 365 CE Development for on-shore projects</li>
          <li>Philippine National Police Projects</li>
          <ul>
            <li>DC - Customer Information System</li>
            <li>DC - Document Tracker System</li>
            <li>DC - SMS Gateway</li>
            <li>Case Management System</li>
            <li>Finance 14 Kiosk and Administration Module</li>
            <li>SOSIA Agency Record Management System</li>
            <li>Accountability Assistance Section and Clearance Monitoring</li>
            <li>FEO SMS Gateway</li>
            <li>IMEG Record Management System</li>
            <li>PTCFOR SMS Gateway</li>
            <li>PTCFOR Receiving and Releasing System</li>
          </ul>
        </ul>
      </div>
    </div>

    <div id="contact" class="box">
      Mobile: +63 917 315 4365 | Email: <a href="mailto:bfallar3@yahoo.com">bfallar3@yahoo.com</a>
    </div>

  </div>
</section>
